<div class="container mt-3 mb-5" style="font-family: 'Noto Sans JP',serif;">
	<h2>商品一覧</h2>
	<div class="text-right">
    <%= link_to "新規登録", new_admin_item_path, class:"btn btn-sm", style: "background-color: #cbb05e; color: black;" %>
  </div>
  <div class="row">
		<table class="table table-hover table-bordered table-condensed">
			<thead>
				<tr>
					<th>商品ID</th>
					<th>商品名</th>
					<th>税抜価格</th>
					<th>ジャンル</th>
					<th>ステータス</th>
				</tr>
			</thead>
			<tbody>
				<% @items.each do |item| %>
					<tr>
						<th><%= item.id %></th>
						<th><%= link_to item.name, admin_item_path(item)%></th>
						<th><%= item.price %></th>
						<th><%= item.genre.name %></th>
						<th><% if item.is_active == true %>
							<strong><p class="text-success">販売中</p></strong>
						<% else %>
						  <strong><p class="text-secondary">販売停止中</p></strong>
						<% end %>
						</th>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>