    <div class="container takasa">
     <div class="col-xs-9">
      <h3>ログイン</h3><br>
      <b>会員画面はこちらからログイン</b>
     </div><br>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
       <div class="field form-group col-xs-12">
        <%= f.label "メールアドレス",class: "col-sm-3 control-label" %><%= f.email_field :email, autofocus: true, autocomplete: "email", class: "col-sm-4 form-control-static" %>
       </div>

       <div class="field form-group col-xs-12">
        <%= f.label "パスワード",class: "col-sm-3 control-label" %><%= f.password_field :password, autocomplete: "current-password" , class: "col-sm-4 form-control-static"%>
       </div><br>

      <div class="action col-sm-4 form-control-static">
        <%= f.submit "ログイン", class: "btn btn-primary" %>
      </div>
     <% end %><br>

     <div class="col-xs-9">
      <h4>会員登録がお済みでない方</h4>
      <%= link_to "こちら", new_customer_registration_path %><span>からログインしてください。</span>
     </div>
    </div>