<div class="container" style="font-family: 'Noto Sans JP',serif; margin-top: 50px;">
  <div class='row'>
    <div class="col-md-9 offset-md-1">
     <h2>会員一覧</h2>
     </div>
  </div>
 </div>
 <div class="container" style="font-family: 'Noto Sans JP',serif; margin-top: 20px;">
    <div class="offset-md-1 col-md-10 offset-md-1">
      <table class="table table-hover table-bordered table-condensed">
        <thead>
          <tr class="info">
            <th>会員ID</th>
            <th>氏名</th>
            <th>メールアドレス</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @customers.each do |customer| %>
            <tr>
              <td class="info col-xs-1">
                <%= customer.id %>
              </td>
              <td class="text-left">
                <%= link_to admin_customer_path(customer), class: "btn-link"  do %>
                  <i class="far fa-user"></i>
                  <%= customer.first_name %><%= customer.last_name %>
                <% end %>
              </td>
              <td class="text-left">
                <%= customer.email %>
              </td>
              <td class="col-xs-2">
                <% if customer.is_active == true %>
                  <strong><p class="text-success">有効</p></strong>
                <% else %>
                  <strong><p class="text-secondary">退会済</p></strong>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    </div>
      <div class= "text-center"><%= paginate(@customers) %></div>
  </div>
</div>