<div class ="container"style="font-family: 'Noto Sans JP',serif; margin: 50px;">
  <div class="row">
    <div class="col-sm-12">
      <h2>配送先登録/一覧</h2>
       <br>
       <br>
        <div id="error">
          <%= render "layouts/error_messages", resource: @address %>
        </div>
        <%= form_with(model: @address, :url => {:controller => "customer/addresses"}) do |f| %>
            <div class="addres col-sm-10">
                <div class="form-group col-sm-12">
                    <%= f.label :"郵便番号(ハイフンなし)" ,class: "col-sm-3 control-label" %>
                    <%= f.text_field :postal_code, class: "col-sm-4 form-control-static postal_code" %>
                </div>

                <div class="form-group col-sm-12">
                    <%= f.label :"住所" ,class: "col-sm-3 control-label" %>
                    <%= f.text_field :address, class: "col-sm-7 form-control-static address" %>
                </div>

                <div class="form-group col-sm-12">
                    <%= f.label :"宛名" ,class: "col-sm-3 control-label" %>
                    <%= f.text_field :name, class: "col-sm-4 form-control-static name" %>
                </div>
                <%= f.submit '登録する' ,class: " pull-right btn btn-success" %>
            </div>
        <% end %>
        <% if @addresses.present? %>
        <table class="table table-hover table-bordered">
          <thead>
              <tr class="info">
                  <th>郵便番号</th>
                  <th>住所</th>
                  <th>宛名</th>
                  <th colspan="2"></th>
              </tr>
          </thead>

          <tbody>
            <% @addresses.each do |address| %>
              <tr class="shipping-tr" id="destroy-<%= address.id %>">
                  <td>
                      <%= address.postal_code %>
                  </td>
                  <td class="text-left">
                      <%= address.address %>
                  </td>
                  <td class="text-left">
                      <%= address.name %>
                  </td>
                  <td>
                      <%= link_to "編集する",edit_address_path(address), class: "fas fa-pencil btn-sm btn-primary" %>
                  </td>
                  <td>
                      <%= link_to "削除する",address_path(address), method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, remote: true, class: "fas fa-trash btn-sm btn-danger" %>
                  </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
</div>
